<ion-content [fullscreen]="true">
  <form [formGroup]="resetForm" (ngSubmit)="submit()">
    <div class="login-page">
      <img
        src="../assets/icon/company_logo.svg"
        alt="saleslogo.svg"
        class="logo"
      />
      <div class="login-page-main">
        <div class="login-page-sub">
          <h1>Welcome to NetScore POS</h1>
          <h3>Reset Your Password</h3>
          <div
            class="label-floating-text ion-text-center"
            [class.invalid]="submitted"
          >
            <div class="form-group">
              <div class="login-icon">
                <img
                  src="../assets/images/lock-icon.svg"
                  class="login-icon-img"
                />
              </div>

              <input
                type="text"
                id="email"
                placeholder="new Password"
                class="email form-control"
                formControlName="newPassword"
              />
              <div *ngIf="submitted && controls['newPassword'].errors">
                <div
                  class="label-float ion-text-center"
                  *ngIf="controls['newPassword'].errors['required']"
                >
                  <label class="label__text">password is required</label>
                </div>
                <div
                  class="label-float ion-text-center"
                  *ngIf="controls['newPassword'].errors['minlength']"
                >
                  <label class="label__text"
                    >must be atleast 8 characters</label
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            class="label-floating-text ion-text-center"
            [class.invalid]="submitted"
          >
            <div class="form-group">
              <div class="login-icon">
                <img
                  src="../assets/images/lock-icon.svg"
                  class="login-icon-img"
                />
              </div>

              <input
                type="password"
                id="email"
                placeholder="confirm Password"
                class="email form-control"
                formControlName="confirmPassword"
              />
            </div>
            <div *ngIf="submitted && controls['confirmPassword'].errors">
              <div
                class="label-float ion-text-center"
                *ngIf="controls['confirmPassword'].errors['required']"
              >
                <label class="label__text">confirm password is required</label>
              </div>
              <div
                class="label-float ion-text-center"
                *ngIf="controls['confirmPassword'].errors['MustMatch']"
              >
                <label class="label__text">confirm password didn't match</label>
              </div>
            </div>
          </div>
          <div class="login-page-btn">
            <ion-button class="btn-primary" type="submit()">Submit</ion-button>
          </div>
        </div>
      </div>
    </div>
  </form>
</ion-content>
