ion-content {
  --background: url("/assets/background-img.png");
}
input:focus {
  outline: none;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}
.logo {
  height: 66px;
  margin-top: 27px;
  margin-left: 20px;
}
.login-page h1 {
  text-align: center;
  font-size: 36px;
  color: white;
  /* margin-top: 142px; */
  margin-top: 142px;
}
ion-title {
  color: white;
}
.login-page h3 {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 117px;
  margin-bottom: 51px;
}
.email {
  display: block;
  width: 100%;
  height: 46px;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
  background-color: rgb(151 151 151 / 50%);
  background-image: none;
  border: 0;
  border-radius: 24px;
}
.login-page {
  width: 100%;
  float: left;
  position: relative;
}
.login-page img.logo {
  position: absolute;
  left: 0;
  top: 0;
}
.login-page-main {
  width: 30%;
  margin: 0 auto;
}
.login-page-sub {
  width: 100%;
  float: left;
}
.form-group {
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 15px;
}
.login-icon {
  position: absolute;
  width: 40px;
  padding: 10px 0px;
  background: #ccc;
  border-radius: 50%;
  text-align: center;
  top: 3px;
  left: 2px;
}
.form-group .form-control {
  padding-left: 55px;
}
.form-control {
  padding: 10px 15px;
  border: 0;
  width: 100%;
  float: left;
}
.form-group .forget-txt {
  margin: 0;
  color: #fff;
}
.btn-primary {
  color: #fff;
  --background: #ac3a31;
  --border-radius: 25px;
  width: 50%;
  margin-left: 108px;
  margin-top: 28px;
}
@media (min-width: 320px) {
  ion-content {
    --background: url("/assets/background-img.png");
  }
  .logo {
    height: 44px;
    margin-top: 27px;
    margin-left: 20px;
  }
  .login-page-main {
    width: 84%;
    margin: 0 auto;
  }
  .login-page-sub {
    width: 100%;
    float: left;
  }
  .login-page h1 {
    text-align: center;
    font-size: 36px;
    color: white;
    /* margin-top: 142px; */
    margin-top: 142px;
  }
  .login-page h3 {
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 123px;
    margin-bottom: 28px;
  }
  .btn-primary {
    color: #fff;
    --background: #ac3a31;
    --border-radius: 25px;
    width: 58%;
    margin-left: 84px;
    height: 56px;
    margin-top: 12px;
  }
}
