<!-- <ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <img src="../assets/icon/company_logo.svg" alt="saleslogo.svg" />
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <form [formGroup]="fpForm" (ngSubmit)="submit()">
    <div class="login-page">
      <img
        src="../assets/icon/company_logo.svg"
        alt="saleslogo.svg"
        class="logo"
      />
      <!-- <h1 class="ion-justify-content-center">Welcome to NetScore POS</h1> -->
      <div class="login-page-main">
        <div class="login-page-sub">
          <h1>Welcome to NetScore POS</h1>
          <h3>Forgot Password</h3>
          <div class="form-group">
            <div class="login-icon">
              <img
                src="../assets/images/mail-icon.svg"
                class="login-icon-img"
              />
            </div>
            <div
              class="label-float"
              [class.invalid]="submitted &&  fpForm.controls['email'].errors"
            >
              <input
                type="text"
                id="email"
                placeholder="Email/Pin"
                class="email form-control"
                formControlName="email"
              />
              <div *ngIf="submitted && fpForm.controls['email'].errors">
                <label class="label">Email field is required</label>
              </div>
            </div>
            <!-- <div class="form-group">
          <div class="login-icon">
            <img
              src="../assets/images/location-icon.svg"
              class="login-icon-img"
            />
          </div>
          <input
            type="text"
            id="email"
            placeholder="Location"
            class="email form-control"
          />
        </div>
        <div class="form-group">
          <div class="login-icon">
            <img
              src="../assets/images/registered-icon.svg"
              class="login-icon-img"
            />
          </div>
          <input
            type="text"
            id="email"
            placeholder="Register"
            class="email form-control"
          />
        </div>
        <div class="form-group">
          <div class="login-icon">
            <img src="../assets/images/lock-icon.svg" class="login-icon-img" />
          </div>

          <input
            type="text"
            id="email"
            placeholder="Password"
            class="email form-control"
          />
        </div> -->
            <!-- <div class="form-group">
          <a class="forget-txt" (click)="forgot()"> Forget pasword ? </a>
        </div> -->
            <div class="login-page-btn">
              <ion-button class="btn-primary" type="submit()">
                Submit</ion-button
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</ion-content>
